.Maintenance {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 777;
}

.Maintenance img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 777;
}

.background {
	background-color: #2700FF;
	z-index: 0;
}

body {
	margin: 0;
	padding: 0;
}

.headerNav {
	display: flex;
	justify-content: flex-start;
	background-color: #fff;
	height: 11vh;
	width: 100%;
	max-width: 1920px; 
	padding: 0;
	margin: 0;
	z-index: 2;
}

.nav-wrapper {
	display: flex;
	justify-content: center; 
	width: 100%;
	border-bottom: 7px solid black;
}

.Logo {
	display: flex;
	justify-content: center;
	height 50px;
	padding: 0px 0px 0px 34px;
}

.headerNav__list1 {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 25px 111px 0 0;
	padding: 0;
}

.headerNav__list2 {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 25px 0 0 111px;
	padding: 0;
}

.headerNav__item {
	display: inline-block;
}

.headerNav__item--link {
	display: inline-block;
	text-decoration: none;
	font-size: 21px;
	color: #000;
	padding: 11px 70px;
	margin: 0;
}

.headerNav__item--link:hover {
	background-color: #eee;
}

.headerNav__item--link:active {
	background-color: #123;
}

a.Logo {
	display: flex;
	height: 100px;
	width: 250px;
}

.Logo img {
	display: flex;
	justify-content: center;
	width: 250px;
	height: 100px;
	margin: auto 0;
}

.Top-Main {
	display: flex;
	justify-content: center;
	width: 100%;
}

#Top-Div_1 {
	display: relative;
	height: 88vh;
	width: 50%;
	padding: 0px 0px;
	border-right: 7px solid black;
	border-left: 11px solid black;
	border-bottom: 11px solid black;
}

#Top-Div_2 {
	display: relative;
	height: 88vh;
	width: 50%;
	padding: 0px 0px;
	border-right: 11px solid black;
	border-left: 7px solid black;
	border-bottom: 11px solid black;
}